:root {
  --bkg-color: #000;
  --bkg-color-secundario: #222224;
  --bkg-color-globo: #444444;
  --principal-text: #fff;
  --principal-family-font: sans-serif;
  --principal-margin-left: 2rem;
  --principal-margin-right: 2rem;
  --border-radius-tarjetas: 1rem;
  --margin-top-tarjetas: 2rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--principal-family-font);
  font-size: 1.6rem;
}
.container {
  background: var(--bkg-color);
}
.container-header {
  background: var(--bkg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
.container-header .logo {
  margin-left: 2rem;
}
.container-header .nav-block {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}
.nav-block > * {
  margin-left: 3rem;
}
.container-main {
  background: var(--bkg-color);
  color: var(--principal-text);
  margin-left: var(--principal-margin-left);
  margin-right: var(--principal-margin-right);
}
.container-main__header {
  margin-top: 5rem;
}
.container-main .section-sup {
  display: flex;
  justify-content: left;
  align-items: center;
}
.container-main .section-sup h1 {
  margin-left: 1rem;
}
.container-main .section-inf {
  display: flex;
  justify-content: left;
  font-size: 3.2rem;
  font-weight: 700;
}
.tarjeta-tipo-1 {
  background: var(--bkg-color-secundario);
  margin-top: var(--margin-top-tarjetas);
  border-radius: var(--border-radius-tarjetas);
  font-size: 2rem;
}
.tarjeta-tipo-1 .cuadro-texto {
  padding: 1rem;
}
.tarjeta-tipo-1 img {
  width: 100%;
}
.container-header-tarjeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-header-tarjeta .cabecera {
  display: flex;
  justify-content: space-between;
}
.cabecera__img {
  margin-right: 1rem;
}
/* .globo__cola {
  background: var(--bkg-color-globo);
  position: absolute;
  z-index: 1;
  background: red;
  width: 2rem;
  height: 1rem;
  transform: translateX(-1px) translateY(5px) skewX(45deg);
} */
.globo__texto {
  background: var(--bkg-color-globo);
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
  margin-left: 0.5rem;
}
